/* global */

body {
  background: #525252; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to left,
    #3d72b4,
    #525252
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to left,
    #3d72b4,
    #525252
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.custom-container {
  width: 70%;
  margin: auto;
}

@media screen and (max-width: 450px) {
  .custom-container {
    width: 92%;
  }
}

@media screen and (min-width: 1921px) {
  .custom-container {
    width: 62%;
  }
}

a {
  color: inherit;
}

a:hover {
  text-decoration: none;
  color: inherit;
}

/* navbar */

.navbar {
  background: #525252; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to left,
    #3d72b4,
    #525252
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to left,
    #3d72b4,
    #525252
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  font-family: "Poiret One", cursive;
  color: #dfb961;
  /* font-size: 1.1em; */
  vertical-align: bottom;
  margin: auto;
}

.navbar-dark .navbar-brand {
  color: inherit;
  transition: 200ms;
  font-size: 1.5em;
}

.navbar-dark .navbar-brand:hover {
  color: #ffd470;
}

.navbar-dark .navbar-nav .nav-link {
  color: inherit;
  transition: 200ms;
}

.navbar-dark .navbar-nav .nav-link:hover {
  color: #ffd470;
}

.navbar-icons {
  transition: 200ms;
}

.navbar-icons:hover {
  color: #ffd470;
}

/* landing page */

.landing-page-h1 {
  margin-top: 4.2em;
  text-align: center;
  /* font-family: "PT Sans", sans-serif; */
  font-family: "Poiret One", cursive;
  font-size: 5.3em;
  font-weight: 600;
  /* color: rgb(201, 139, 47); */
  /* color: #fa8334; */
  /* color: #ffe882; */
  color: #ffd470;
}

.landing-page-h3 {
  margin-top: 1%;
  text-align: center;
  font-family: "Poiret One", cursive;
  font-size: 2.3em;
  color: #ffd470;
}

#landing-page-link {
  margin-top: 10%;
  text-align: center;
  font-family: "Poiret One", cursive;
  font-size: 1.5em;
  color: #ffd470;
  transition: 200ms;
}

#landing-page-link:hover {
  color: #dfb961;
}

/* projects page */

.projects-h1 {
  margin-top: 10%;
  text-align: center;
  font-family: "Poiret One", cursive;
  font-size: 3em;
  font-weight: 600;
  color: #ffd470;
}

.project-images {
  margin: auto;
  width: 90%;
  border: solid #ffd470 3px;
  border-radius: 5px;
}

.project-images:hover {
  border: solid #c9a551 3px;
}

.project-page-projects {
  margin-top: 8%;
  margin-bottom: 8%;
  font-family: "Poiret One", cursive;
  color: #ffe17e;
  font-size: 1.2em;
  text-align: center;
}

/* project page */

.project-page-div {
  margin-top: 17em;
}

.project-page-title {
  font-family: "Poiret One", cursive;
  font-weight: 600;
  font-size: 2.3em;
  color: #ffd470;
  margin-bottom: 10%;
}

.project-page-description {
  font-family: "Poiret One", cursive;
  font-size: 1.2em;
  color: #ffd470;
}

.project-page-button {
  width: 50px;
  height: 30px;
  border-radius: 25px;
  background-color: #dfb961;
  color: #4778c2;
  text-align: center;
  transition: 200ms;
  font-size: 1.2em;
}

.project-page-button:hover {
  background-color: #ffd470 !important;
}

.project-page-link {
  margin-top: 1%;
  font-family: "Poiret One", cursive;
  font-size: 1em;
  font-style: italic;
  color: #ffd470;
  transition: 200ms;
}

.project-page-link:hover {
  color: #dfb961;
}

/* about */

.about-page-text {
  margin-top: 10%;
  font-family: "Poiret One", cursive;
  font-size: 1.3em;
  color: #ffd470;
  transition: 200ms;
}
