/* global */

body {
  background: #525252; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to left,
    #3d72b4,
    #525252
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to left,
    #3d72b4,
    #525252
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.custom-container {
  width: 65%;
  margin: auto;
}

a {
  color: inherit;
}

a:hover {
  text-decoration: none;
  color: inherit;
}

/* landing page */

.landing-page-h1 {
  margin-top: 46%;
  text-align: center;
  /* font-family: "PT Sans", sans-serif; */
  font-family: "Poiret One", cursive;
  font-size: 5.3em;
  font-weight: 600;
  /* color: rgb(201, 139, 47); */
  /* color: #fa8334; */
  /* color: #ffe882; */
  color: #ffd470;
}

.landing-page-h3 {
  margin-top: 1%;
  text-align: center;
  font-family: "Poiret One", cursive;
  font-size: 2.3em;
  color: #ffd470;
}

#landing-page-link {
  margin-top: 10%;
  text-align: center;
  font-family: "Poiret One", cursive;
  font-size: 1.5em;
  color: #ffd470;
  transition: 200ms;
}
#landing-page-link:hover {
  color: #dfb961;
}

/* projects page */

.projects-h1 {
  margin-top: 10%;
  text-align: center;
  font-family: "Poiret One", cursive;
  font-size: 3em;
  font-weight: 600;
  color: #ffd470;
}

.project-images {
  margin: auto;
  width: 90%;
  border: solid #ffd470 3px;
  border-radius: 5px;
}

.project-images:hover {
  border: solid #c9a551 3px;
}

.project-page-projects {
  margin-top: 8%;
  margin-bottom: 8%;
  font-family: "Poiret One", cursive;
  color: #ffe17e;
  font-size: 1.2em;
  text-align: center;
}
